.background-block__wrap {
    display: flex;
}
.background-block__item {
    display: block;
    width: 200px;
    height: 100px;
    margin-right: 20px;
}
.background-block__item_blue {
    background-color: var(--color-blue);
}
.background-block__item_pink {
    background-color: var(--color-pink);
}
.background-block__item_navy {
    background-color: var(--color-navy);
}