.dashboard__wrap {
    width: 100vw;
    height: 100vh;
    padding: 40px 0;
    background-color: #e8e9f4;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    padding: 0 20px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
}

.dashboard .title {
    font-size: 18px;
    font-weight: bolder;
}

.dashboard__item {
    padding: 40px 20px;
}

.dashboard__item_left {

}

.dashboard__item_center {
    background-color: #f5f7fb;
}

.dashboard__item_right {

}


.profile {
    margin-bottom: 40px;
    text-align: center;
}

.user-avatar {
    width: 150px;
    height: 150px;
    margin: 0 auto 15px;
    border-radius: 50%;
}

.user-avatar img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.user-name {
    margin-bottom: 5px;
    font-weight: bolder;
}

.user-post {
    font-size: 14px;
}
.dashboard__task-block {
    margin: 20px 0;
}
.btn__add {
    display: block;
    position: relative;
    width: fit-content;
    padding: 10px 50px 10px 8px;
    border-radius: var(--border-radius);
    background-color: var(--color-light-grey);
    font-weight: bolder;
    cursor: pointer;
}

.btn__add::after {
    content: '+';
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #da7c82;
    color: #fff;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
}
.task-block__form {
    margin: 20px 0 0;
}
.task-block__form.task-block__form_none {
    display: none;
}
.dashboard__date {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
}

.tasks-list__wrap {
    margin: 20px 0;

}
.tasks-list__item {
    display: grid;
    grid-template-areas: "item-name item-name"
                        "item-date item-deadline";
    padding: 20px 10px;
    margin-bottom: 20px;
    border-radius: var(--border-radius);
    background-color: #fff;
}
.tasks-list__item span {
    font-weight: bolder;
}
.tasks-list__item-name {
    grid-area: item-name;
    font-weight: bolder;
    margin-bottom: 12px;
    font-size: 17px;
}
.tasks-list__item-date {
    grid-area: item-date;
}
.tasks-list__item-deadline {
    grid-area: item-deadline;
}
.projects-list {

}
.projects-list__item {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: var(--border-radius);
    background-color: var(--color-light-grey);

}