.form__wrap {
    max-width: 350px;
    width: 100%;
    padding: 20px 30px;
    /*margin: 0 auto;*/
    border: 1px solid var(--color-light-grey);
    border-radius: 3px;
}
.form__preview {
    margin-bottom: 20px;
    text-align: center;
}
.form__title {
    margin-bottom: 10px;
}
.form__desc {
    display: block;
}
.form__item {
    margin-bottom: 20px;
}
.form__label {
    display: block;
    margin-bottom: 10px;
}
.form__label_bold {
    font-weight: bolder;
}
.form__input {
    display: block;
    width: 100%;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid var(--color-grey);
    font-size: 14px;
}
.form__input:focus,
.form__input:focus-visible,
.form__select:focus,
.form__select:focus-visible,
.input__radio:focus,
.input__radio:focus-visible,
.form__textarea:focus,
.form__textarea:focus-visible {
    outline: 0;
    border-color: var(--color-navy);
}
.form__btn {
    margin: 0 auto;
}

.form__select {
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 3px;
    border: 1px solid var(--color-grey);
    font-size: 14px;
}

.form__textarea {
    display: block;
    width: 100%;
    height: 100px;
    border: 1px solid var(--color-grey);
    resize: none;
}

.policy__wrap {
    margin-bottom: 15px;
    font-size: 14px;
}
.form__msg {
    margin-bottom: 12px;
    font-size: 14px;
}
.msg {

}
.msg-error {
    color: var(--color-pink);
}
.msg-success {
    color: var(--color-green);
}

.input__radio {
    cursor: pointer;
}

.result {
    display: block;
    padding: 20px 0;
    border-top: 2px solid var(--color-light-grey);
}
.result span {
    font-weight: bolder;
}

.comments__wrap {
    height: 280px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid var(--color-light-grey);
    overflow-y: auto;
    font-size: 14px;
}
.comment__item {
    margin-bottom: 8px;
}
.checkbox {
    cursor: pointer;
}
