:root {
    --color-black:              #1D1D1D;
    --color-violet:             #4e5685;
    --color-light-grey:         #eeeeee;
    --color-grey:               #C1C1C1;

    --color-blue:               #d4fbff;
    --color-navy:               #6dc9f7;
    --color-pink:               #fa759e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-width: 385px;
    width: 100%;
    background: #fff;
    color: var(--color-black);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a {
    color: var(--color-black);
    text-decoration: none;
}

a:hover {
    color: var(--color-violet);
    opacity: 0.8;
}

.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header,
.footer {
    padding: 10px 0;
    background-color: var(--color-light-grey);
}
.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__icon {
    display: block;
    width: 60px;
    height: 60px;
    margin-left: -9px;
}

.logo__desc {
    display: block;
    font-weight: bolder;
}

.title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bolder;
}

.btn {
    display: block;
    max-width: 140px;
    width: 100%;
    padding: 5px 10px;
    border: 0;
    border-radius: 3px;
    background-color: var(--color-navy);
    font-size: 14px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color-pink);
    opacity: 0.8;
}

.btn:focus {
    outline: none;
}

.copyright {
    max-width: 180px;
    font-size: 13px;
    color: var(--color-grey);
}

.copyright a {
    color: var(--color-grey);
}

.social {
    display: flex;
}

.social__link {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 5px;
}
